@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700;800&family=Open+Sans&display=swap');

:root {
    /* fonts */
    --head-font: 'Kaisei Tokumin', serif;
    --body-font: 'Open Sans', sans-serif;

    /* colors */
    --pink0: #ff9296;
    --pink1: #FF9FA3;
    --pink2: #F7E0E6;
    --blue: #A4DADC;
    --grey: #949391;
    --yellow: #D9AF39;
    --back: #f5f2e9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/images/15348.jpg");
    background-size: contain;
    font-family: var(--body-font);
    text-align: center;
}

.header-home {
    background-color: var(--blue);
    padding: 2rem;
}

.header-home h1 {
    color: white;
    font-family: var(--head-font);
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.container-home {
    padding: 2rem;
}

.container-inside-home {
    background-color: #F7E0E6dc;
    display: block;
    max-width: 500px;
    padding: 2rem 3rem;
    border-radius: 2rem;
    margin: 2rem auto;
}

.container-inside-home h2 {
    color: var(--pink0);
    font-family: var(--head-font);
    font-weight: 800;
    font-size: 27px;
}

.container-inside-home a {
    display: block;
    background-color: var(--pink1);
    color: white;
    font-family: var(--body-font);
    font-weight: 800;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

#sum-of-angles {
    display: none;
}

footer {
    background-color: var(--blue);
    padding: 1.5rem 2rem 0.5rem 2rem;
}

.social-media-title {
    color: white;
    font-family: var(--head-font);
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}

.social-media a {
    text-decoration: none;
}

svg {
    fill: white;
    width: 35px;
    height: 35px;
    padding: 0.3rem 0.3rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
    transition: 1s ease;
}

svg:hover {
    background-color: var(--pink1);
}

.github-sourcecode {
    color: white;
    font-size: 15px;
}

.git-repo {
    color: white;
    transition: 0.5s;
    border: 3px solid var(--blue);

}

.git-repo:hover {
    background-color: var(--pink1);
    border: 3px solid var(--pink1);
    border-radius: 6px;
}