@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700;800&family=Open+Sans&display=swap');

:root {
    /* fonts */
    --head-font: 'Kaisei Tokumin', serif;
    --body-font: 'Open Sans', sans-serif;

    /* colors */
    --pink0: #ff9296;
    --pink1: #FF9FA3;
    --pink2: #F7E0E6;
    --pink3: #faf0f2;
    --blue: #78d8db;
    --grey: #949391;
    --yellow: #D9AF39;
    --back: #f5f2e9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/images/15348.jpg");
    background-size: contain;
    color: white;
    font-family: var(--body-font);
    text-align: center;
}

nav {
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.nav-head {
    font-family: var(--head-font);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-pills {
    display: flex;
    min-width: 37%;
    justify-content: space-between;
}

.nav-pills a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    border: 2px solid var(--blue);
}

.nav-pills a:hover {
    background-color: var(--pink1);
    border-color: var(--pink1);
    border-radius: 6px;
}

.header-home {
    background-color: var(--blue);
    padding: 2rem;
}

.header-home h1 {
    color: white;
    font-family: var(--head-font);
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.container {
    padding: 2rem;
}

.container-inside {
    background-color: #F7E0E6dc;
    display: block;
    max-width: 700px;
    padding: 2rem 3rem;
    border-radius: 2rem;
    margin: 2rem auto;
}

.container-inside h1 {
    color: var(--pink0);
    font-family: var(--head-font);
    font-weight: 800;
    font-size: 27px;
}

.container-inside a {
    display: block;
    background-color: var(--pink1);
    color: white;
    font-family: var(--body-font);
    font-weight: 800;
    text-decoration: none;
    max-width: 270px;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    margin: 1.5rem auto 0.5rem auto;
    cursor: pointer;
    transition: 0.5s ease;
}

.container-inside a:hover {
    background-color: var(--blue);
}

.formula {
    color: var(--pink0);
    font-size: 17px;
    max-width: fit-content;
    padding: 1rem 1.5rem;
    border: 3px solid var(--pink1);
    border-radius: 1rem;
    margin: 1.5rem auto 1rem auto;
}

.tri-condition span {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

label {
    display: block;
    color: var(--pink0);
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
    margin: auto;
}

input {
    display: block;
    background-color: var(--pink3);
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--pink1);
    border-radius: 0.5rem;
    margin: auto;
    outline: none;
}

button {
    background-color: var(--pink1);
    color: white;
    font-family: var(--body-font);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
    margin-top: 2rem;
    transition: 0.5s ease;
}

button:hover {
    background-color: var(--blue);
}

#sum-of-angles {
    display: none;
}

footer {
    background-color: var(--blue);
    padding: 1.5rem 2rem 0.5rem 2rem;
}

.social-media-title {
    color: white;
    font-family: var(--head-font);
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}

.social-media a {
    text-decoration: none;
}

svg {
    fill: white;
    width: 35px;
    height: 35px;
    padding: 0.3rem 0.3rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
    transition: 1s ease;
}

svg:hover {
    background-color: var(--pink1);
}

.github-sourcecode {
    color: white;
    font-size: 15px;
}

.git-repo {
    color: white;
    transition: 0.5s;
    border: 3px solid var(--blue);

}

.git-repo:hover {
    background-color: var(--pink1);
    border-color: var(--pink1);
    border-radius: 6px;
}